@(users: Seq[User], skills:Seq[Skill], skillGroups:Seq[SkillGroup], usersSkills:Seq[UserSkill])

<table class="table table-bordered table-hover">
    <tr >
        <td class="userTableRow" ></td>
        @for(user <- users) {
            <th class="userTableRow">@user.firstName @user.familyName</th>
        }
    </tr>
    @for(sg <- skillGroups){
        <tr >
            <th colspan="100%" class="skillGroupTableRow" >@sg.name</th>
        </tr>
        @for(skillId <- sg.skills){
        <tr>
            <th class="skillTableTitle" >
                @skills.find(_.id == skillId).getOrElse(Skill("NULL", "SKILL_NOT_FOUND")).name
            </th>

            @for(user <- users){
                <td>
                    @usersSkills.find(x => x.skillId == skillId && x.userId == user.id ).getOrElse(UserSkill("NULL","","",0)).level
                </td>

            }
        </tr>
        }
    }

</table>